*,
*::after,
*::before {
    box-sizing: border-box;
}

:root {
    font-size: 16px;
}

body {
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

.UI {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    color: white;
    pointer-events: none;
    padding: 3em;
    z-index: 9999;

    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    /* background-color: blue; */
}

.time-slider {
    display: flex;
    flex-direction: column;
    gap: 1em;
    grid-row-start: 3;
    grid-column-start: 2;
    /* background-color: blue; */
    justify-content: end;
    align-items: center;
    justify-self: center;
    width: 80%;
}

.time-slider .slider {
    pointer-events: all;
    /* background: radial-gradient(
        circle,
        rgba(255, 249, 249, 0.3281512434075192) 0%,
        rgba(255, 249, 249, 0.8) 100%
    ); */
    background-color: rgba(255, 255, 255, 0.7);
    /* opacity: 0.5; */

    width: 20em;
    height: 0.25em;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    border-radius: 16px;
}

.time-slider .slider .drag {
    --offset: 0px;
    position: absolute;
    background: no-repeat 50%/100% url(/clock.svg);
    height: 1.5em;
    width: 1.5em;
    cursor: grabbing;
    left: calc(var(--offset) + 50%);
    transform: translateX(-50%);
    transition: all 50ms ease;
}

.time-slider .speed-display {
    user-select: none;
}

.time-slider .info {
    width: 100%;
    display: flex;
    gap: 1em;
    font-weight: bold;
    /* justify-content: space-between; */
    justify-content: center;
    align-items: center;
    gap: 2em;
    text-transform: uppercase;
}

.time-slider .info .live-btn {
    border: 2px solid white;
    padding: 0 1.25em;
    border-radius: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    max-height: 2rem;
    pointer-events: all;
    /* opacity: 0.7; */
    transition: border 200ms ease;
}
.time-slider .info .live-btn:hover {
    opacity: 1;
    border: 2px solid red;
    cursor: pointer;
}

.time-slider .info .live-btn p {
    font-size: 0.75em;
    font-weight: bold;
    letter-spacing: 0.3ch;
}

.time-slider .info .live-btn .circle {
    width: 0.5em;
    height: 0.5em;
    border-radius: 100%;
    background-color: red;
}

.time-slider .info .live-btn.no-live .circle {
    background-color: gray;
}

.time-slider .simulation-speed {
    user-select: none;
    transition: opacity 400ms ease-in;
    font-size: 0.75em;
    font-weight: bold;
    letter-spacing: 0.2ch;
    text-transform: uppercase;
}

.planet-label {
    color: var(--color);
    font-family: sans-serif;
    padding: 2px;
    background: transparent;
    top: -1em;
    opacity: 0.5;
    transition: top 200ms ease;
}

.planet-icon {
    background-color: var(--color);
    opacity: 0.8;
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

.planet-label.hovered,
.planet-icon.hovered {
    opacity: 1;
    cursor: pointer;
}

.planet-label.hovered {
    top: -1.25em;
}

/* .planet-icon:hover {
    transform: scale(2);
} */
