*,
*::after,
*::before {
    box-sizing: border-box;
}

:root {
    font-size: 16px;
}

body {
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

.UI {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    color: white;
    pointer-events: none;
    padding: 3em;
    z-index: 9999;

    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    /* background-color: blue; */
}

.time-slider {
    display: flex;
    flex-direction: column;
    gap: 1em;
    grid-row-start: 3;
    grid-column-start: 2;
    /* background-color: blue; */
    justify-content: end;
    align-items: center;
    justify-self: center;
    width: 100%;
}

.time-slider .slider {
    pointer-events: all;
    background-color: rgba(255, 255, 255, 0.7);

    width: 20em;
    height: 0.25em;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    border-radius: 16px;
}

.time-slider .slider .drag {
    --offset: 0px;
    position: absolute;
    background: no-repeat 50%/100% url(/clock.svg);
    height: 1.5em;
    width: 1.5em;
    cursor: grabbing;
    left: calc(var(--offset) + 50%);
    transform: translateX(-50%);
    transition: all 50ms ease;
}

.time-slider .info {
    width: 100%;
    display: flex;
    gap: 1em;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    gap: 2em;
    text-transform: uppercase;
    user-select: none;
}

.time-slider .info .live-btn {
    border: 2px solid white;
    padding: 0 1.25em;
    border-radius: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    max-height: 2rem;
    pointer-events: all;
    /* opacity: 0.7; */
    transition: border 200ms ease;
}
.time-slider .info .live-btn:hover {
    opacity: 1;
    border: 2px solid red;
    cursor: pointer;
}

.time-slider .info .live-btn p {
    font-size: 0.75em;
    font-weight: bold;
    letter-spacing: 0.3ch;
}

.time-slider .info .live-btn .circle {
    width: 0.5em;
    height: 0.5em;
    border-radius: 100%;
    background-color: red;
}

.time-slider .info .live-btn.no-live .circle {
    background-color: gray;
}

.time-slider .simulation-speed {
    user-select: none;
    transition: opacity 400ms ease-in;
    font-size: 0.75em;
    font-weight: bold;
    letter-spacing: 0.2ch;
    text-transform: uppercase;
    opacity: 0;
}

.planet-label {
    color: var(--color);
    font-family: sans-serif;
    padding: 2px;
    background: transparent;
    top: -1em;
    opacity: 0.5;
    transition: top 200ms ease;
}

.planet-icon {
    background-color: var(--color);
    opacity: 0.8;
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

.planet-label.hovered,
.planet-icon.hovered,
.asteroid-icon.hovered {
    opacity: 1 !important;
    cursor: pointer;
    font-weight: bold;
}

.planet-label.hovered {
    top: -1.25em;
}

.asteroid-icon {
    width: 1em;
    height: 1em;
    opacity: 0.5;
}

.asteroid-icon img {
    width: 100%;
    height: 100%;
}

.move-to-default {
    pointer-events: all;
    grid-row-start: 1;
    grid-column-start: 1;
    align-self: self-start;
    justify-self: start;
    display: flex;
    align-items: center;
    gap: 0.5em;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    opacity: 0;
    transition: opacity 200ms ease-in;
    user-select: none;
}

.move-to-default.show {
    opacity: 0.5;
}

.move-to-default img {
    width: 1.5em;
    aspect-ratio: 1;
    transition: transform 300ms ease;
}

.move-to-default.show:hover {
    cursor: pointer;
    opacity: 1;
}

.move-to-default:hover img {
    transform: translateX(-20%);
}

.search-bar {
    --border-color: #454553;
    --bg-color: #1c1c22;
    --bg-color-hover: #2a2a33;
    --border-radius: 12px;
    top: 2em;
    right: 2em;
    position: absolute;
    pointer-events: all;
    display: flex;
    flex-direction: column;
    width: 12em;
}

.search-bar .result {
    background-color: var(--bg-color);
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    max-height: 40vh;
    /* overflow: hidden; */
    overflow-y: auto;
}

.search-bar .result p {
    padding: 1em 1em;
    margin: 0;
    transition: background-color 200ms ease;
    font-size: 0.8rem;
    max-width: 30ch;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.search-bar .result p:hover {
    background-color: var(--bg-color-hover);
    cursor: pointer;
}

.search-bar input {
    outline: none;
    border: none;
    background-color: var(--bg-color);
    height: 2em;
    padding: 1em 1em;
    font-size: 1em;
    color: white;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
}

.search-bar input.result {
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}
